h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h2, h3 {
  font-style: normal;
}

.sidenote:lang(zh),
.marginnote:lang(zh) {
    font-size: 0.8rem;
}
.sidenote-number {
  font-size: 1rem !important;
}

code {
  font-size: 1rem !important;
}

p:lang(zh), span:lang(zh),
p:lang(ja), span:lang(ja) {
    font-size: 1rem;
}

h2 {
    margin-top: 2.5rem;
}

h3 {
    margin-top: 1.5rem;
}